* {
     box-sizing:border-box;
      -webkit-font-smoothing: antialiased; 
      font-family:Roboto, Meiryo, arial, tahoma, verdana, 'Hiragino Kaku Gothic Pro', "�l�r �o�S�V�b�N", Osaka, sans-serif;!important;
     font-size:16px;      
}

body, html {
     margin:0;
     padding:0;
}

a, a:link {color:#a62331; text-decoration:underline}
ul {padding-left:25px;}



.has-error * {color:red!important;}
.btn {border-radius:0px!important;}

.mb10 {margin-bottom:10px;}
.mb20 {margin-bottom:20px;}
.mb30 {margin-bottom:30px;}
.mb40 {margin-bottom:40px;}
.mblast {margin-bottom:100px;}

form * {
     font-size:14px!important;
}
label {
     font-weight: normal !important;
}
input {margin-bottom: 2px !important;}
.small {font-size:80%!important;}

.form-group {
     margin-bottom: 5px!important;
}

.has-error * {
     font-size:10px!important;
     //display:none;
}



#header {
     padding:20px 0;
}

@media (max-width: 640px) {
     #header {padding:16px 0;  border-top:3px solid black;}
}

#footer {
     padding:33px 0;
     background-color:#211f20;
}

#main_photo {
     width:100%;
     box-sizing:border-box;
     background:url(../img/vitalify/big_photo.jpg) no-repeat #000;
     background-size:100% auto;
     background-position: center; 
     padding-top:40px;
}

@media (max-width: 780px) {
     #main_photo {
          background-size:100% auto;
     }
}

@media (min-width: 1200px) {
     #main_photo {
          background-size:100% auto;
          min-height:700px;
     }
}

.big_title2 {max-width:620px;}


#theForm {
     background-color:rgba(255,255,255,0.85);
     box-sizing: border-box;
     padding:10px 20px;
     max-width:650px;
     margin:0 30px;
     padding-bottom:40px;
     text-align:left;
     border-radius: 20px;
}

#theForm label {min-width:170px;}
#theForm label.radio-inline {min-width:70px!important;}
#theForm #btnApply {margin-left:15px; width:100%;}

.txtFirstName {padding-right:3px!important;}
.txtLastName {padding-left:3px!important;}

@media (max-width: 767px) {
     .txtFirstName {padding-right:10px!important;}
     .txtLastName {padding-left:10px!important;}
     #theForm #btnApply {margin-left:0;}
}

.btn-red {
     color:#fff!important;
     background: url(../img/vitalify/btn_apply.jpg);
     font-size:180%!important;
     font-weight:bold;
     line-height:15px;
     padding:15px;
}

.btn-red2 {
     color:#fff!important;
     text-decoration:none!important;
     background-color:#a62331;
     font-size:120%!important;
     font-weight:800;
     line-height:0;
     padding:20px;
     min-width:100px;
}

#cancel_btn {display:none;}

.panel-default {
     border-radius:0px;
     border-color:#ddd;
     margin-bottom:20px;
}

.panel-default h3 {
     color:#b21f28;
     font-size:130%;
     font-weight:bold;
     margin:0; padding:0;
     margin-bottom:20px;
}

.btnTop {
     background:url(../img/vitalify/btn_to_top_bg.png) no-repeat;
     background-size:25px auto;
     background-position:20px center;
     padding:15px 20px;
     padding-left:30px;
     margin-top:20px;
     width:250px;
     color:#000!important;
     text-decoration:none!important;
     border:1px solid #000;
}

.panel-body {
     padding:30px;
}

.panel-body img {
     padding:3px;
     border:1px solid #ddd;
     background-color:#fff;
     margin-bottom:5px;
}

.caption {}

#theForm h2 {
     font-weight: bolder;
     font-size: 36px;
}
.f20 {font-size: 20px;}
.bold {font-size: 20px; font-weight: bold;}

.form-control {
     border-radius: 0 !important;
     border: 1px solid #aaa !important;
}

.btn-browse {
     text-align: center;
     vertical-align: middle;
     cursor: pointer;
     background-image: none;
     font-weight: normal;
     padding: 6px 12px;
     line-height: 1.5;
     border-radius: 20px;
     background: #333;
     color: white;
     min-width: 100px !important;
}
.cancel {margin-left: 20px;}

#login-vnw {
margin: 10px 6.5% 10px 28%;
padding: 10px 0 10px 5px;
background: #ddd;
position: relative;
}
.tooltip-arrow {
position: absolute;
top: -6px;
left: 5%;
margin-left: -5px;
border-width: 0 6px 6px;
border-bottom-color: #ddd;
}
#forget-text {
font-size: 10pt;
font-weight: normal;
}
